main {
  margin: auto;
}

h1, h2 {
  text-align: center;
}

h2 {
  margin-bottom: 80px;
}

.square-content {
  border-right: 1px #a5b4fc solid;
  border-bottom: 1px #a5b4fc solid;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.square-content h2, .square-content ul {
margin-top: 30px;
}

.square-content + div {
text-align: center;  
}

table {
  color: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #a5b4fc;
  padding: 15px;
}

td {
  padding: 80px;
}

@media screen and (max-width: 996px) {
  .tarifs {
    display: none;
  }
}